<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediSecAI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-[#000000]">

    <div class="container mx-auto max-w-5xl px-4 pt-16 pb-10 text-left">
        <h1 class="text-5xl mb-4 leading-tight">
            <span class="bg-gradient-to-r from-gray-500 to-white bg-clip-text text-transparent">It's </span>
            <span class="bg-gradient-to-r from-blue-900 to-blue-600 bg-clip-text text-transparent">MedisecAI</span>
        </h1>
        <p class="text-5xl leading-snug bg-gradient-to-r from-gray-500 to-white bg-clip-text text-transparent">
            Your Medical Assistant at Work
        </p>
    </div>

    <div id="page-content-wrapper">
        <div class="container mx-auto max-w-5xl p-4">
            <div id="chat-container" class="max-h-[50rem] overflow-y-auto">
                <div id="chat-messages" class="px-6"></div>
            </div>
            <div id="new-consultation-section" class="flex-grow flex justify-center hidden mt-0 mb-0">
                <button id="new-consultation-button" class="button">Start New Session</button>
            </div>
        </div>
    </div>

    <div id="search-bar-wrapper" class="fixed bottom-10 left-0 right-0 p-4 bg-[#000000]">
        <div class="max-w-5xl mx-auto flex items-center space-x-4">
            <div id="input-section" class="flex-grow flex items-center space-x-4">
                <input type="text" id="symptoms-input" class="flex-grow p-3 bg-[#383838] text-[#E3E3E3] rounded-md focus:outline-none focus:ring-2 focus:#162456 placeholder-[#A6A6A6] gradient-border-input text-base" placeholder="Enter symptoms (e.g., fever, cough)" />
                <button class="button" id="send-button">Send</button>
            </div>
    
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>